# R
.Rhistory
.RData
.Rproj.user/
.Ruserdata

# renv
renv/library/
renv/staging/

# Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/

# Output / temp
*.log
*.tmp

# Possible student data
*.csv
*.xlxs
*.xls
*.tsv
